body{
  background-color: #8578B5;
  color:#FFFFFF;
  font-family: 'Open Sans', 'Roboto Slab', 'Montserrat';
  line-height: 1.4;
  text-align: center;
}
a{
  color: inherit;
  text-decoration: inherit;
}
a:hover{
  color:#493c75;
}
#navBar{
  text-align: right;
  background-color: #5B4E88;
  border: 10px, #5B4E88;
  padding:25px;
  margin-bottom: 30px;
}
.navItem{
  font-size: 18.8px;
  margin: 25px;
  color: #FFFFFF;
  font-weight: bold;
}
.active{
  font-size: 18.8px;
  margin: 25px;
  color: #3A2F5E;
  font-weight: bold;
}
.PersonalStatment{
  height: fit-content;
  margin-top:150px;
}
#header{
  font-size: 55px;
  margin-bottom: 8px;
}
.body{
  font-size: 25px;
  margin-inline: 30%;
}
#experience{
  text-align: left;
}
.workPosition{
  font-weight: bold;
  font-size: 35px;
}
.employer{
  font-size: 20px;
  margin-right: 150px;
}
.employmentDates{
  font-size: 20px;
  margin-left: 150px;

}
.workSkills{
  margin-top: -2px;
  font-size: 25px;
}
#projectSectionOverview{
  margin-bottom: 20px;
  border-bottom: #5B4E88 8px solid;
}
.projectLanguage{
  font-size: 40px;
  margin:55px 40px 30px; 
}
.ProjectScection{
  border-bottom: #5B4E88 8px solid;
  margin:20px;
}
.ProjectBreak{
  border-bottom: #5B4E88 8px solid;
  margin:25px;
  margin-inline: 10%;
}
.ProjectSectionHeader{
  font-size: 45px;
  font-weight: bold;
  border-bottom:#5B4E88 8px solid;
  margin:20px auto 20px auto;
  margin-inline: 35%;
}
.ProjectTitle{
    font-size: 35px;
}
.ProjectDescription{
  font-size: 25px;
  
}
.SkillsDemonstratedList{
  border:#5B4E88 5px solid;
  font-size: 25px;
  text-align: left;
  margin:20px auto 20px auto;
  justify-content: center;
  max-width: fit-content;
}
.downloadButton {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 10%;
  background-color: #493c75;
  border-radius: 20px;
  max-width: 566px;
  /* Center the button horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.downloadButton:hover{
  background-color: #FFFFFF;
}