body{
  background-color: #8578B5;
  color:#FFFFFF;
  font-family: 'Open Sans', 'Roboto Slab', 'Montserrat';
  line-height: 1.4;
  text-align: center;
}
a{
  color: inherit;
  text-decoration: inherit;
}
a:hover{
  color:#493c75;
}
#navBar{
  text-align: right;
  background-color: #5B4E88;
  border: 10px, #5B4E88;
  padding:25px;
  margin-bottom: 30px;
}
.navItem{
  font-size: 18.8px;
  margin: 25px;
  color: #FFFFFF;
  font-weight: bold;
}
.active{
  font-size: 18.8px;
  margin: 25px;
  color: #3A2F5E;
  font-weight: bold;
}
.PersonalStatment{
  height: fit-content;
  margin-top:150px;
}
#header{
  font-size: 55px;
  margin-bottom: 8px;
}
.body{
  font-size: 25px;
  margin-inline: 30%;
}
#experience{
  text-align: left;
}
.workPosition{
  font-weight: bold;
  font-size: 35px;
}
.employer{
  font-size: 20px;
  margin-right: 150px;
}
.employmentDates{
  font-size: 20px;
  margin-left: 150px;

}
.workSkills{
  margin-top: -2px;
  font-size: 25px;
}
#projectSectionOverview{
  margin-bottom: 20px;
  border-bottom: #5B4E88 8px solid;
}
.projectLanguage{
  font-size: 40px;
  margin:55px 40px 30px; 
}
.ProjectSection{
  margin:20px auto;
  margin-inline: 20%;
  border: #5B4E88 20px solid;
  border-radius: 20px;
  padding: 10px;
  background-color: #FFFFFF;
}
.ProjectSectionHeader{
  font-size: 45px;
  font-weight: bold;
  background-color: #5B4E88;
  border:#5B4E88 8px solid;
  border-radius: 20px;
}
.ProjectSectionBody{
  margin: 10px auto;
  background-color: #5B4E88;
  border:#5B4E88 8px solid;
  border-radius: 20px;
}
.ProjectSectionBodyTile{
  font-size: 32;
  font-weight: bold;
}