nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #5B4E88;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
    color: inherit;
    text-decoration: inherit;
}

.menu-icon {
  display: none; /* Initially hidden on larger screens */
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide the full menu */
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    background-color: #5B4E88;
  }

  .nav-links li {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #5B4E88;
  }

  .menu-icon {
    display: block; /* Show the hamburger icon */
  }

  .nav-links.active {
    display: flex; /* Show the menu when active */
  }
  .nav-links {
  transition: all 1s ease;
 }
}
